h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #333;
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

/* Links */

a {
  color: #27f2e0;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
  background-image:url("https://i.imgur.com/iRBnZX8.jpg");
  background-repeat: no-repeat;
  margin-top: -20px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  margin-top: 150px;
  color: white;
  font-size: 70px;
  font-weight: 700;
}

#headerwrap h3 {
  color: white;
  font-size: 30px;
  font-weight: 100;
  font-family: 'EB Garamond', serif;

}

#headerwrap .logo {
  text-align: left;
  margin-left: 20px;
  margin-top: 15px;
}

/* Footer Wrap */

#f {
  background: #1a1a1a;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center
}

#f h3 {
  color: white;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

#f i {
  font-size: 8px;
  color: #fff;
  padding: 3px;
}

#f p {
  font-size: 20px;
  color: #f2f2f2;
}

#f img {
  text-align: center;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




/* Copyrights */

#copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

#copyrights a {
  color: #27f2e0;
}

#copyrights p {
  margin-bottom: 5px;
}

.credits {
  color: #999;
}


/***** Footer *****/
 
footer {
    padding: 30px 0 0 0;
    background: #444;
    color: #aaa;
    text-align: left;
}
 
footer h3 {
    color: #aaa;
}
 
.contact-form {
    padding-top: 20px;
}
 
.contact-form input[type="text"], 
.contact-form textarea, 
.contact-form textarea.form-control {
    height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #666;
    border: 2px solid #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 50px;
    color: #ddd;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
 
.contact-form textarea, 
.contact-form textarea.form-control {
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}
 
.contact-form input[type="text"].input-error, 
.contact-form textarea.input-error, 
.contact-form textarea.form-control.input-error {
    border-color: #27f2e0;
}
 
.contact-form input[type="text"]:focus, 
.contact-form textarea:focus, 
.contact-form textarea.form-control:focus {
    outline: 0;
    background: #666;
    border: 2px solid #888;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
 
.contact-form input[type="text"]::-moz-placeholder, 
.contact-form textarea::-moz-placeholder, 
.contact-form textarea.form-control::-moz-placeholder { color: #ddd; }
 
.contact-form input[type="text"]:-ms-input-placeholder, 
.contact-form textarea:-ms-input-placeholder, 
.contact-form textarea.form-control:-ms-input-placeholder { color: #ddd; }
 
.contact-form input[type="text"]::-webkit-input-placeholder, 
.contact-form textarea::-webkit-input-placeholder, 
.contact-form textarea.form-control::-webkit-input-placeholder { color: #ddd; }
 
.contact-form button.btn {
    height: 40px;
    margin: 0;
    padding: 0 40px;
    vertical-align: middle;
 
    background: #39cbbe; /* Old browsers */
    background: -moz-linear-gradient(top,  #39cbbe 0%, #39cbbe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#39cbbe), color-stop(100%,#39cbbe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #39cbbe 0%,#27f2e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #39cbbe 0%,#39cbbe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #39cbbe 0%,#39cbbe 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #39cbbe 0%,#39cbbe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39cbbe', endColorstr='#39cbbe',GradientType=0 ); /* IE6-9 */
 
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 49px;
    color: #fff;
    text-transform: uppercase;
    -moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px;
    text-shadow: none;
    box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
 
.contact-form button.btn:hover, 
.contact-form button.btn:active, 
.contact-form button.btn:focus, 
.contact-form button.btn:active:focus, 
.contact-form button.btn.active:focus,
.contact-form button.btn.btn-primary:not(:disabled):not(.disabled):active,
.contact-form button.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    opacity: 0.6;
    outline: 0;
    color: #fff;
    box-shadow: none;
 
    background: #27f2e0; /* Old browsers */
    background: -moz-linear-gradient(top,  #27f2e0 0%, #27f2e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#27f2e0), color-stop(100%,#27f2e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #27f2e0 0%,#27f2e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #27f2e0 0%,#27f2e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #27f2e0 0%,#27f2e0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #27f2e0 0%,#27f2e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27f2e0', endColorstr='#27f2e0',GradientType=0 ); /* IE6-9 */
}
 
.footer-social {
    padding-top: 20px;
}
 
.footer-social a {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 6px;
    margin-bottom: 10px;
    padding-top: 7px;
    background: #666;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    font-size: 32px;
    color: #ddd;
    line-height: 40px;
    text-align: center;
}
.footer-social a:hover, .footer-social a:focus { background: #777; color: #eee; }
 
.footer-social a i { vertical-align: middle; }
 
.footer-copyright {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px dotted #777;
}
 
.footer-copyright a { color: #ddd; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #eee; }
 
.footer-bottom {
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 20px;
    background: #3d3d3d;
    text-align: center;
}
 
.footer-bottom a {
    font-size: 32px;
    color: #666;
    line-height: 40px;
}
 
.footer-bottom a:hover, .footer-bottom a:focus { color: #888; }

.center table {
   margin-left: auto;
   margin-right: auto;
  }
